{%load static%}
<div class="card w-100 main-card" style="height: auto; width: 18rem;">
    <div class="card-body d-flex flex-column">
        <div class="d-flex" style ="flex-shrink: 0;">
            <div style="display flex; flex-direction: column; align-items: center; flex-shrink: 0;">
                <div class="mb-2">
                    <img src="{% static  'img/ava1.webp'%}" alt="Ava" class="img-fluid">
                </div>
                <input class="form-control mt-2" type="number" value="5" placeholder="Default input"
                aria-label="default input example">
            </div>
            <div class="flex-fill d-flex flex-column ms-3">
                <div class="flex-fill d-flex flex-column">
                    <h5 class="card-title">
                        <a href = "{% url 'one_question' question.id %}"> {{ question.title }} </a>
                    </h5>
                    <p class="card-text">{{question.text}}</p>
                </div>
                <div class="d-flex gap-3 flex-wrap align-items-center mt-3">
                    <a href="#">Answer("{{question.answer_count}}")</a>
                    <div class="d-flex flex-wrap align-items-center">
                        <h6 class="card-subtitle mb-0">Tags:</h6>
                        {% for tag_word in question.tags %}
                            <a href="{% url 'tag' tag_word %}" class="card-link">#{{ tag_word }} </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

