body {
    background-color: #553921;
    color: #EDD4BF;
}

h1, h2, h3, h4, h5, h6 {
    color: #EDD4BF;
}

a {
    color: #553921;
    background-color: #EDD4BF;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 50px;
    display: inline-block;
}

a:hover {
    color: #482304;
    font-weight: bold;
}

.container-fluid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}

.navbar {
    background-color: transparent !important;
    border-bottom: 2px solid #EDD4BF;
}

.navbar-brand {
    background-color: transparent !important;
}

.navbar-toggler{
    background-color: #EDD4BF;
    border: 1px solid #482304;
    border-radius: 20px;
}

.navbar-toggler:focus{
    background-color: #EDD4BF;
    border: none
}

.form-control {
    border: 3px solid #EDD4BF;
    background-color: #EDD4BF;
    color: #553921;
}

.form-control:focus-visible {
    border: 3px solid #EDD4BF;
    box-shadow: none;
    color: #553921;
    margin: 0;
    background-color: #EDD4BF;

}


.btn {
    border: 2px solid #EDD4BF;
    background-color: #553921;
    color: #EDAE78;
    box-shadow: transparent !important;
}

.btn:hover {
    border: 2px solid #EDD4BF;
}

.logo {
    border: 2px solid #EDD4BF;
    border-radius: 100%;
}

.img-fluid {
    display: flex;
    height: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid #482304;
    align-items: center;
}

.container-fluid .form-control {
    width: 300px;
}

.card {
    background-color: transparent !important;
    border: none;
}

.card .card-title,
.card-text {
    color: #482304;
    max-width: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
    display: inline-block;
}

.card .flex-fill {
    max-width: calc(100% - 100px);
    width: 100%;
}

.card .card-subtitle {
    color: #553921;
    font-style: italic;
}

.card a {
    color: #482304;
    font-style: italic;
    padding: 2px;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    width: 100%;
    gap: 2px;
    margin-left: 2px;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

.card .card-link{
    margin: 0;
}

.card .form-control {
    border: 2px solid #482304;
    width: 100px;
}

.col {
    position: relative;
    padding: 0px;
}

.col .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

.card-body {
    background-color: #EDD4BF;
    border-radius: 20px;
}

.popular-tags {
    background-color: #EDD4BF;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    min-width: 150px;
}

.pagination {
    display: flex;
    gap: 3px;
}

.page-link {
    border: 2px solid #482304;
    background-color: #EDD4BF;
    border-radius: 5px;
    color: #553921;
    box-shadow: transparent !important;
}

.page-link:hover {
    border: 2px solid #482304;
    box-shadow: transparent !important;
    background-color: #EDD4BF;
    border-radius: 5px;
    color: #553921;
    font-weight: bold;
}

.page-link:focus {
    box-shadow: none;
    background-color: #EDD4BF;
    margin: 3px;
    color: #482304;
}

.list-group-item {
    box-shadow: transparent !important;
    background-color: #EDD4BF;
    border: 2px solid #482304;
}

.row {
    margin: 0px;

}

.main-card .card-body {
    border: 3px solid #482304;
    background-color: #EDD4BF;
}

.card-img-top {
    border: 3px solid #EDD4BF;
    border-radius: 100%;
}

.flex-column-gap{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
