<!DOCTYPE html>
<html long="en">

<head>
  <meta charset="UTF-8">
  <meta name="viemport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./../static/css/vanilla.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="#">
                AskPupkin
            </a>
        </div>
        <div class="search-form">
            <form action="#">
                <input class="search-form-input" tupe="text">
                <button class="search-form-button">ASK!</button>
            </form>
        </div>
        <div class="account">
            <div class="account-image">
                <img scr="./image.jpg" alt="Image">
            </div>
            <div class="account-content">
                <div class="account-name">Dr. Peper</div>
                <div class="account-actions">
                    <a href="./settings.html">Settings</a>
                    <a href="./logout.html">Log out</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="title-bar">
            <h1>New quastions</h1>
            <a href="./hat-questions.html"> Hot quastions</a>
        </div>

        <div class="content">
            <div class="cards">
                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="S">
                    </div>
                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="#">Title</a></h4>

                            <div class="card-text">Text here</div>
                        </div>
                        <div class="card-right-bottom">
                            <a href="./answers.html">Answer (3)</a>
                            <div class="card-right-tags">
                                Tags:
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="S">
                    </div>
                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="#">Title</a></h4>

                            <div class="card-text">Text here</div>
                        </div>
                        <div class="card-right-bottom">
                            <a href="./answers.html">Answer (3)</a>
                            <div class="card-right-tags">
                                Tags:
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <div class="card-left">
                        <img src="./image.jpg" alt="Image" class="card-image">
                        <input type="number" class="card-likes" value="S">
                    </div>
                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="#">Title</a></h4>

                            <div class="card-text">Text here</div>
                        </div>
                        <div class="card-right-bottom">
                            <a href="./answers.html">Answer (3)</a>
                            <div class="card-right-tags">
                                Tags:
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                                <a href="#">Link</a>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="pagination">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>...</button>
                    <button>49</button>
                    <button>50</button>
                </div>
            </div>
            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tegs">
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                    </div>
                </section>
                <section class="best-mambers">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>
