{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-8 d-flex flex-column">
        <div class="d-flex gap-3 align-items-center">
            <h1>Hot Questions</h1>
            <a href="{% url 'app:index' %}">New Questions</a>
        </div>
        <div class="d-flex flex-column gap-3">
            {% for question in page %}
                {% include 'layouts/question.html' with question=question %}
            {% empty %}
                <div class="alert alert-info">Пока нет ни одного вопроса. Будьте первым!</div>
            {% endfor %}
        </div>

        <!-- Пагинация -->
        {% if page and page.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example" class="mt-3">
            <ul class="pagination">
                {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page.paginator.page_range %}
                    {% if page.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% elif num > page.number|add:'-3' and num < page.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
{% endblock %}
