{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="col-8 d-flex flex-column">
        <div class="d-flex gap-3 align-items-center">
            <h1>One question page</h1>
            <a href="{% url 'index'%}">Main page</a>
        </div>
        <div class="d-flex flex-column gap-3">
                {% include 'layouts/question.html'%}
        </div>
        <div style="text-align: center"> <h2> --- Answer --- </h2></div>
        <div class="d-flex flex-column gap-3">
            {% for ans in answers %}
                {%if ans.ans_question == question.id%}
                    {% include 'layouts/ans.html' with ans=ans%}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
